<h1>Rewards index page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= link_to reward.title, reward_path(reward) %></td>
        <td><%= reward.price %></td>
        <td><%= link_to "buy", new_order_path  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Your rewards</h2>

<% @orders.each do |order| %>
  <td><%= order.reward.title %></td>
  <td><%= order.employee.email %></td></br>
<%end %>
